*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.about{
    background-image: url(images/a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.about h1{
    padding-top:150px;
    padding-bottom:150px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 75px;
    color:chartreuse;
    -webkit-text-stroke:2.9px black;
    text-shadow: 12px 10px 10px black;
}
.about i{
font-size: 30px;
}
#b img{
    width:400px;
    height:500px;
    margin-left: 250px;
}
#h h1,h2,h3,p{
    margin-left: 100px;
}
#h #sp1{
    color:orange;
    font-size: 80px;
}
#s{
    font-size: 20px;
    word-spacing: 30px;
    margin-left: 100px;
}
#h h3{
    font-size: 40px;
    word-spacing: 50px;

}    
#h p{
    text-align: justify;
    
}
.row{
    margin-top: 50px;
}

/*----------------------*/
#r{
    margin-top:100px;
    background: #ddd;
    padding-bottom: 20px;
}
#c img {
    width:720px;
    height:480px;
}
#cc h1,h4,h5{
    margin-top: 10px;
    margin-left: 180px;
}
#cc h1{
    border-bottom: 3px solid black;
    padding: 10px;
    margin-bottom: 15px;
    font-variant: small-caps;
}
#cc span{
    color: orange;
}
#cc p{
    margin-left: 180px;
    text-align: justify;
    font-size: 18px;
}
#cc h5{
    font-size: 25px;
    font-variant: small-caps;
    line-height: 50px;
}

#one{
	padding-top:100px;
	padding-bottom:100px;
	background: #000066;
}
#one h5{
	margin-left:100px;
	padding-bottom:10px;
	font-size:45px;
	font-variant:small-caps;
	color:orange;
	border-bottom:3px solid orange;
}
#one p{
	margin-left:100px;
	margin-top:20px;
	font-size:18px;
	color:orange;
	text-align:justify;
}

@media screen and (max-width:480px){
#b img{
        width:100%;
        height:500px;
        margin-left:1px;
    }
#h h1,h2{
    margin-left: 70px;
}
#h h3,p{
        margin:10px;
    }
#s{
        font-size: 20px;
        word-spacing: 30px;
        margin-left: 10px;
    }   
#h h3{
        font-size: 30px;
        word-spacing: 40px;
    }   
#s{
        font-size: 15px;
        font-variant: small-caps;
        font-weight: bold;
        word-spacing: 20px;
        margin-left: 10px;
    }
#c img {
        width:100%;
        height:480px;
    }
#cc h1,h4,h5{
        margin-top: 10px;
        margin-left: 20px;
    }
#cc p{
        margin-left: 20px;
        text-align: justify;
        font-size: 18px;
    }
#one h5{
        margin-left:25px;
        padding-bottom:10px;
        font-size:45px;
        font-variant:small-caps;
        color:orange;
        border-bottom:3px solid orange;
        width:300px;
    }
#one p{
        margin-left:25px;
        margin-top:20px;
        font-size:18px;
        color:orange;
        text-align:justify;	
        width:300px;
    }
}
